@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');

body {
    background-color: rgb(14, 13, 13);
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}